.App {
  width: 100%;
    min-width: 1040px;
}

img.logo {
  width: 155px;
  position: absolute;
  top: 15px;
  left: 18%;
}

div.Header-pic {
  height: 100%;
  min-height: 480px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

div.header-box {
  text-align: center;
  width: 390px;
  height: 230px;
  font-family: 'Helvetica', 'Arial', sans-serif;
  background-color: #3CBDC3;
  color: white;
  position: relative;
  left: 18%;
  top: 70px;
}

div.header-message {
  font-size: 32px;
  font-weight: 300;
  padding: 15px;
  width: 85%;
  display: inline-block;
}

div.find-button {
  border: 1px solid white;
  width: 50%;
  display: inline-block;
  font-weight: lighter;
  font-size: 16px;
  padding: 10px;
  position: relative;
  top: -23px;
}

.App-header {
  background-color: black;
  height: 112px;
  padding: 1px;
  color: white;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}