div.HomePage {
    width: 100%;
}

div.User-box {
    margin: 10px;
}

.Profile-picture {
    width: 220px;
    height: 220px;
    z-index: 1;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

div.Users {
    display: flex;
    flex-wrap: wrap;
    align-content: center;
    margin: 80px 15% 80px 15%;
}

div.User-detail {
    position: absolute;
    color: white;
    z-index: 5;
    text-align: center;
    width: 220px;
    margin-top: 32px;
    font-size: 15px;
    font-weight: 100;
}